.container{
    max-width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top:1.2rem;
    gap: 2.2rem;
}
.right{
    width: 100%;
    max-width:100%;
    display: flex;
    align-items: center;
    gap: 2.2rem;
}

.search{
    border: none;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.856);
    width: 40%;
    max-width: 100%;
    font-size: medium;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 5px 5px 10px rgba(0, 0, 0, 0.047);
    border-radius: 20px;
}
.search:focus{
    outline: none;
}
.search:hover{
    background-color: rgba(255, 255, 255, 0.2);
}
.icon{
    background-color: rgba(61, 3, 25, 0.199);
    width:50px;
    height:50px;
    padding:0.6rem 0.3rem;
    border-radius: 20px;
    -webkit-box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 5px 5px 5px rgba(0, 0, 0, 0.047);
}
.icon:hover{
    background-color: rgba(61, 3, 25, 0.432);
}

.left{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.left button{
    background-color: initial;
    padding: 0.6rem 0.6rem;
    border-radius: 15px;
    width:90px;
    font-size: medium;
    max-width: 100%;
    color:rgba(255, 255, 255, 0.849);
    border:none;
    font-weight: 600;
    background: rgb(126,16,18);
    background: linear-gradient(0deg, rgba(126,16,18,1) 0%, rgba(201,35,35,1) 100%);
    -webkit-box-shadow: 2px 4px 5px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 5px 5px 5px rgba(0, 0, 0, 0.047);
}
.left button:hover{
    color:white;
    border:2px solid rgba(255, 0, 0, 0.719);
}

@media screen and (max-width: 780px) {
    .container{
        margin-top:4.5rem;
        gap:0;
        padding: 0;
    }
    .right{
        width: 100%;
        max-width:100%;
        display: flex;
        align-items: center;
        gap: 1.2rem;
    }
    .search{
        border: none;
        border-radius: 20px;
        padding: 0.5rem 1rem;
        background-color: rgba(255, 255, 255, 0.1);
        color: rgba(255, 255, 255, 0.856);
        width: 50%;
        max-width: 100%;
    }

    .icon{
        width:40px;
        height:40px;
        padding:0.4rem 0.2rem;
        border-radius: 20px;
    }
    .icon:hover{
        background-color: rgba(61, 3, 25, 0.432);
    }
    
    .left{
        gap: 1rem;
    }
    .left button{
        width:80px;
        font-size: 14px;
        
    }
}
@media screen and (max-width: 570px) {

    .right{
        width: 100%;
        max-width:100%;
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    .search{
        width: 80%;
        max-width: 100%;
    }

    .icon{
        width:33px;
        height:33px;
        padding:0.3rem 0.15rem;
        border-radius: 20px;
        display: none;
    }

    .left button{
        width:70px;
        font-size: 13px;
        padding:0.5rem 0rem;
    }
}
@media screen and (max-width: 450px) {
    .left button{
        font-size: 11px;
        padding:0.5rem 0.2rem;
        width:60px;
    }
    .search{
        font-size: small;
    }
}